<h2>Utenti</h2>
<!-- <button (click)="getUsers()">Scarica Utenti</button> -->


@if(isFetching()){
    <div>Caricamento utenti in corso....</div>
}@else{

    <!-- ?? nullish operator, restituisce un array vuoto nel caso in cui il mio valore utenti() risulti undefined
    let valori = [1,2,3] ?? [] ->> [1,2,3]
    let valori = undefined ?? [] ->> []
    -->
    @for(utente of utenti() ?? []; track utente.id){
        <app-utente [utente]="utente" (selectUser)="onSelectedUser($event)"></app-utente>
    }
}


<h2>Utenti Preferiti</h2>
<app-utenti-preferiti></app-utenti-preferiti>