/* You can add global styles to this file, and also import other style files */
h1{
  text-align: center;
  margin: 80px;
}


.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 100px;
  border: 1px solid black;
  padding: 30px;
}

.box {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
