<!-- STRING INTERPOLATION -->
<h2>{{titolo}}</h2>

<h4>Info utente Admin</h4>
<p>{{nomeAdmin}} {{cognomeAdmin}} - età {{etaAdmin}} </p>

<div class="imgBox">
    <!-- Property Binding -->
    <!-- <img src="{{imgAdmin}}" alt="" class="imgRes"> -->
    
    <img class="imgRes" [src]="imgAdmin" alt="">
</div>


<h4>Utenti piattaforma</h4>

<p>{{utenti[0].nome}} {{utenti[0].cognome}} 
    <img class="imgAvatar" [src]="'./assets/userImages/' + utenti[0].img"  alt="">
</p>
<p>{{utenti[1].nome}} {{utenti[1].cognome}} 
    <img class="imgAvatar" [src]="'./assets/userImages/'+ utenti[1].img" alt="">
</p>
<p>{{utenti[2].nome}} {{utenti[2].cognome}} 
<img class="imgAvatar" [src]="'./assets/userImages/'+ utenti[2].img" alt="">
</p>

<h4>Utente del mese</h4>
<!-- Scelto in modo totalmente casuale da questi 3 -->
<p>{{utenteDelMese.nome}} {{utenteDelMese.cognome}} 
<img class="imgAvatar" [src]="imgPath" alt="">
</p>

<!-- Un tempo si faceva così  -->
<p [textContent]="utenteDelMese.nome"></p>
