<h1>Lezioni Teoriche</h1>
<p>Qui c'è la raccolta dei component divisi per lezioni ed esempi su parti teoriche</p>

<!-- <app-lez4-statement></app-lez4-statement> -->

<!-- <app-lez5-signals></app-lez5-signals> -->

<!-- <app-lez6-two-way-binding-directives></app-lez6-two-way-binding-directives> -->

<!-- <app-lez7-two-way-signals></app-lez7-two-way-signals> -->

<!-- <app-lez8-services></app-lez8-services> -->

<!-- <app-lez9-template-driven></app-lez9-template-driven> -->

<app-lez10-reactive-form></app-lez10-reactive-form>