<div class="boxRespo">

    <h4> {{respo.nome}} {{respo.cognome}} </h4>
    <p>Lista corsi</p>
    @for(corso of respo.corsi; track $index){
        <li> {{corso}} </li>
    }
        
        <!-- al click su questo pulsante voglio mostrare in un altro component la disponibilità del responsabile. 
        Se i corsi sono >= 4 il responsabile non ha più disponibilità per inserire corsi.
        Il component deve essere renderizzato solo quando faccio click sul pulsante sottostante -->
        
        <!-- UPGRADE: i corsi vengono mostrati nel component corsi singolarmente attraverso un component corso esistente in corsi. -->
        <button (click)="onMostraDispo(respo.corsi.length)">Mostra Disponibilità</button>

</div>



