<ul class="nav">
  <li class="nav-item">
    <!-- NON posso utilizzare i semplici href ma devo utilizzarei routerLink, att vanno sempre importanti nel component che li utilizza -->
    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/about">about</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/courses">courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin">admin</a>
  </li>
</ul>
